@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

* {
  font-family: "Anek Bangla", sans-serif;
}

/* Poppins for headers */
h1,
h2,
h3,
h4,
h5,
h6,
.header-font {
  font-family: "Hind Siliguri", sans-serif;
}

/* Ensure all checkboxes are perfectly round */
.checkbox-round {
  border-radius: 50% !important;
  aspect-ratio: 1;
}

