@import "tailwindcss";

@font-face {
  font-family: "Kalpurush";
  src: url("/KALPURUSH.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Kalpurush", "Hind Siliguri";
}

/* Poppins for headers */
h1,
h2,
h3,
h4,
h5,
h6,
.header-font {
  font-family: 'Kalpurush', sans-serif;
  font-weight: 700;
}

/* Ensure all checkboxes are perfectly round */
.checkbox-round {
  border-radius: 50% !important;
  aspect-ratio: 1;
}